Link,
button {
    outline: none !important;
    border: none;
    background: transparent;
}

Link,
button:hover {
    cursor: pointer;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.anim-back {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container-landing {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrap-landing {
    width: 1000px;
    background: #1f262dcc;
    border-radius: 10px;
    overflow: hidden;
}

.landing {
    width: 100%;
}

.landing-logo-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0 10px 0 10px;
    text-decoration: none;
    white-space: nowrap;
}

.landing-logo-icon {
    color: #0c0;
    background: none;
    font-size: 70px;
}

.landing-logo-text {
    font-size: 70px;
    color: #0c0;
    font-family: Poppins-Bold;
    background: none;
}

.landing-welcome {
    display: block;
    font-family: Poppins-Bold;
    font-size: 35px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    justify-content: center;
}

.container-landing-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-landing-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 auto;
}

.landing-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #005500;
    background: linear-gradient(90deg, #005500 0%, #00ff00 100%);
    top: 0;
    left: -100%;
    transition: all 0.4s;
}

.landing-form-btn {
    font-family: Poppins-Bold;
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 70px;
}

::-webkit-scrollbar {
    display: none;
}